ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: large;
    color: azure;
}
#home{
    color: #94d82d;
}
#butn1{
    border-radius: 30px;
    font-size: large;
    background-color:#5c940d;
    color: antiquewhite;
    padding: 9px;
}
.Landingpage{
    background-color: #212529;
    height: 80vh;
  
}

.body{
    background-color: #212529;
    color: antiquewhite;
}
#HDK{
    background-color:#94d82d ;
    height:10vh ;
 
}
#heading1{
    color: antiquewhite;
   font-size: 50px;
}
#paragraph{
    color: azure;
    font-size: 20px;
}
.table{
background-color: #212529;
color: antiquewhite;
 width: 100%;
 height: 80vh;
border-collapse: collapse; 
padding:30px;

}
.users{
    height: 50vh;
    background-color: black;
    color: beige;
    padding:10px ;
    
}
#crypto{
    float: right; 
    padding-right: 250px;
    margin-right: 50px;
    margin: 20px;
 
   
}
#trade{
 /* background-color: #94d82d; */
    font-size: large;
    padding-right: 140px;
    margin-right: 90px;
}
#invest{
    color: #94d82d;
}
.invest{
    margin: 30px;
    /* padding: 200px; */
    margin-right: 45px;


}
#secure{
    float:right ;
    padding-right: 50%;
}
#explore{
    color: #94d82d;
    border-color: #94d82d;
    float: left;
    font-size: large;
}
#bigbutton{
    border-radius: 30px;
    font-size: large;
}
#rewards{
    background-color:black;
    color: antiquewhite;
    margin: 20px;
    height: 30vh;
    padding: 10px;

}
#buy{
   border-radius: 30px;
  padding: 4px 10px;

}
#bitcoin{
    float: right;
    width: 30%;
    margin-top: 150px;
    padding-right: 80px;
  
}
.platform{
  
    padding-right: 10%;
    float: right;
    margin-top: 15%;
   
}
#bit{
    border-radius: 10%;
    padding: 10%;
   background-color: palevioletred;
   color: aliceblue;
 margin-top: 5%;
}
#image{
    float: right;
}
#appstore{
    border-radius: 30px;
    font-size: large;
 background-color: black;
 color: antiquewhite;
 padding: 0px 30px 0px 30px;
 
}

#exchange{
    float: right;
    border-radius:50%;
}
.clarity{
    margin-top: 20%;
    margin: 20px;
    padding-top: 10%;
    
}
#trade{
    float: right;
    margin: 20px;
   
}
.community{
    padding: 30px;
 
}
.crypto{
background-color: black;
padding: 20px;
margin: 40px;


}
#start{
    color: #5c940d;
}
#bigbtn{
    border-radius: 20px;
}


#terms{
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    margin: 20px;
   
    
}

@media screen and (max-width:743px) {
ul {
        flex-direction: column;
    }
#trade{
width: 80%;
margin-left: 60%;

}
.footer{
    
    font-size: small;
    width: 100%;
    flex-direction: column;
}
#HDK{
    margin-top: 50%;
    height: 20vh;
    width: 60%;
}
.table{
    width: 60%;
}
#assets{
    width: 70%;
}
#hr{
    width: 80%;
}
#terms{
margin-left: 10%;
}
#bigbutton{
    width: 60%;
    margin-left: 10%;
    /* margin-bottom: 10%; */
  
}
#crypto{
    width: 60%;
    margin-left: 100%;
  
    
}
#paragraph{
    width: 100%;
    font-size: 15px;

}
#heading1{
    width: 80%;
    font-size: xx-large;
}
#made{
    width: 80%;
}
#appstore{
    gap: 10%;
}
.users{
    margin-bottom: 60%;
}
#butn1{
    width: 175%;
    margin-bottom: 30%;

   
}
#bitcoin{
    margin-bottom: 10%; 
   
}
#secure{
    width: 90%;
}
.platform{
    margin-left: 80%;
    padding-left: 30%;
    
  
}
#bigbtn{
   width: 50%;

}
#rewards{
    margin-bottom: 50%;
}
#bit{
    padding: 10%;
}
#exchage{
    width: 100%;
}
#invest{
   text-align: center;
   width: 40%;
}


    
}